* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

body {
  background: #C1F6F1;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;

  min-height: 100vh;
  color: #3D2B1F;
  font-family: "Livvic Regular", sans-serif;
  overflow-x: hidden;
}

.site-title {
  text-align: center;
  color: #3D2B1F;
  margin-left: 0.75rem;
}


#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#progress {
  font-weight: bold;
  color: white;
}


